body {
  background-color: #202c37;
  font-family: Poppins, sans-serif;
}

p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: white;
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
}

.nav_logo {
  height: 60px;
  margin: 30px 0px;
}

.header {
  margin: auto;
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
  text-align: right;
}

nav button {
  margin-left: auto;
  margin-right: 0px;
}

.container {
  margin: 32px auto;
  /* margin-left: auto;
  margin-right: auto; */
  padding-left: 8%;
  padding-right: 8%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.banner {
  position: relative;
  height: 100%;
}

.banner_image {
  background-image:
    url('https://media.timeout.com/images/105656190/image.jpg');
  background-size: cover;
  background-position: center 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.25;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.banner_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 15%;
  overflow: hidden;
  height: 37.5vh;
}

.primate {
  flex-basis: 40%;
  position: relative;
  display: flex;
  align-items: center;
  size: 80%;
}

.banner_text {
  position: relative;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: right;
  box-sizing: border-box;
  overflow: hidden;
  text-align: right;
}

.banner_background {
  /* background-image:
    url('https://media.timeout.com/images/105656190/image.jpg'); */
  background-size: cover;
  background-position: center 1000px;
  background: linear-gradient(rgba(105, 105, 105, 0.6),rgba(151, 149, 149, 0.3)),url(https://media.timeout.com/images/105656190/image.jpg);
  overflow: hidden;

}

.color-box {
  position: absolute;
  right: 0;
  left: 0;
  background-image:
      url('https://media.timeout.com/images/105656190/image.jpg');
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  background-size: cover;
  background-position: center 900px;
}

h1 {
  color: white;
  font-size: 4.6rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.btn {
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  margin: 0.6rem 0.6rem;
  white-space: normal;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  color: white;
  padding: 0.6rem 1.2rem;
  background-color: white !important;
  border-color: white !important;
  color: #000d0f !important;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
  border-radius: 56px;
  text-decoration: none; 
  font-size: 1.15em;
}

.btn:hover, .btn:focus {
  color: #ffffff !important;
  background-color: rgb(156, 156, 156) !important;
  border-color: rgb(156, 156, 156) !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.icon {
  margin-right: 0.5em;
}

.title {
  font-weight: bold;
  justify-content: center;
  font-size: 24px;
  padding: 30px 0px;
}

.logo {
  height: 60px;
  margin: 30px 20px;
}

.customer-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  word-wrap: break-word;
}

.turn-white{
  filter: brightness(0) invert(1); 
 }

 .connect_button {
  color: #000d0f !important;
 }

 .primate_link:hover {
  width:100%;
  height:100%;
  opacity:0.6;
  border-radius:30px;
}

.build-products-container {
}

.featured-products{
  background: #2b3844;
  padding: 20px;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 40px;
}

.card{
  background: #ffffff;
  width: 400px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card h2 {
  padding: 0px 24px;
  text-align: left;
  font-size: 20px;
}

.card p{
  color: black;
  padding: 0px 24px;
  margin-bottom: 30px;
  font-size: 16px;
}

.card-image {
  height: 200px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: top center;
  border-radius: 20px 20px 0px 0px;
}

.card a {
  background-color: #2b3844;
  color: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  font-weight: bold;
  border-radius: 32px;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 14px;
}

.card a:hover {
  background-color: rgb(108, 108, 108);
  color: #ffffff;
}

.card:hover {
  transform: scale(1.05);
  transition: all is ease;
}

.image-1{
  background-image: url("./featured_products/crypto.com.jpg")
}

.image-2{
  background-image: url("./featured_products/bupa_optical.jpg")
}

.image-3{
  background-image: url("./featured_products/bupa_dental.jpg")
}

.image-4{
  background-image: url("./featured_products/voxel_ville_2.jpg")
}

.image-5{
  background-image: url("./featured_products/ap_warehouse.png")
}

.image-6{
  background-image: url("./featured_products/alive_digital.png")
}

.image-7{
  background-image: url("./featured_products/crunch_wheels.jpg")
}

.linkedin-recommendation{
  background: #384755;
  padding: 35px;
}

.linkedin-icon{
  margin-right: 10px;
  size: 20px;
}

.view-all {
  padding-top: 50px;
  text-align: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 35px;
}

.footer-wrapper {
  text-align: center;
}

.social-media {
  color: #eceff1;
  margin: 0px 10px;
}

.footer-text{
  color: #eceff1;
  text-align: center;
  font-size: 16px;
  padding-top: 30px;
}

.language-icon{
  margin-right: 5px;
}

.menu-icon {
  display: none;
}

p.mobile {
  display: none;
}

p.desktop {
  display: block;
}

@media only screen and (max-width: 1400px){

  .header {
    padding-left: 10%;
    padding-right: 10%;
  }

  .banner_content {
    padding: 100px 10%;
  }


}


@media only screen and (max-width: 700px){

  .nav_logo{
    height: 3em;
  }

  .header {
    padding-left: 8%;
    padding-right: 8%;
  }

  nav {
    width: 100%;
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 2;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: right;
  }
  
  .menu-icon {
    display: block;
  }

  .menulist-mobile {
    display: block;
    background-color: #90a4ae;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }

  .menulist-desktop {
    display: none;
  }

  .featured-products {
    padding-left: 2%;
    padding-right: 2%;
  }

  .card-container{
    padding-left: 1%;
    padding-right: 1%;
  }

  p.title {
    font-size: 20px;
  }

  .logo {
    height: 35px;
    margin: 20px 10px;
  }

  .banner_image {
    background-position: right center;
  }

  .banner_content {
    padding: 0px 8%;
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    height: 37.5vh;
  }

  .banner {
    height: 675px;
  }

  .primate {
    height: 12.5em;
    padding: 30px 0px;
  }

  .banner_text h1 {
    font-size: 36px;
    text-align: center;
  }

  .banner_text p {
    font-size: 1em;
    text-align: left;
  }

  p.desktop {
    display: none;
  }

  p.mobile {
    display: block;
    padding: 15px 0px;
    margin: 0px 0px;
  }

  .btn{
    margin: 0.6rem 0rem;
    margin-right: 0.6rem;
    font-size: 1em;
  }

  div.banner_buttons{
    text-align: left;
  }

  .card:hover {
    transform: scale(1.0);
    transition: all is ease;
  }
  
}