.instruction {
  margin-top: 50px;
  height: 150px;
  display: flex;
  justify-content: center;
  width: 600px;
  margin: auto;
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-align: center;
  line-height: 50px;
  padding: 5px
}

p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: white;
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
}

.header {
  height: 80px;
  width:90%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  padding: 15px 0px 15px 0px;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: #202c37;
  font-family: Poppins, sans-serif;
}

#nft img {
  height: 256px;
  width: 256px;
}

.nft {
  padding: 16px;
}

.banner_image {
    /* The image used */
    background-image:
      url('https://media.timeout.com/images/105656190/image.jpg');
      background-size: cover;
      height: 60vh;
      background-position: center 850px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0.25;
      position: relative;
  }

.container {
  margin-top: 20px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 30px;
}

.primate {
  position: absolute;
  top: 175px;
  left: 350px;
}

.banner_text {
  color: white;
  position: absolute;
  top: 265px;
  right: 350px;
  font-family: Poppins, sans-serif;
  text-align: right;
}

h1 {
  font-size: 4.6rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.btn {
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  margin: 0.6rem 0.6rem;
  white-space: normal;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  color: white;
  padding: 0.6rem 1.2rem;
  background-color: white !important;
  border-color: white !important;
  color: #000d0f !important;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
  border-radius: 56px;
  text-decoration: none; 
  font-size: 1.15em;
}

.btn:hover, .btn:focus {
  color: #ffffff !important;
  background-color: rgb(156, 156, 156) !important;
  border-color: rgb(156, 156, 156) !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.icon {
  margin-right: 0.5em;
}

.title {
  font-weight: bold;
  justify-content: center;
  font-size: 24px;
}

.logo {
  height: 60px;
  margin: 30px 20px;
}

.customer-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  word-wrap: break-word;
}

.turn-white{
  filter: brightness(0) invert(1); 
 }

 .connect_button {
  color: #000d0f !important;
 }

 .primate_link:hover {
  width:100%;
  height:100%;
  opacity:0.6;
  border-radius:30px;
}

.featured-products{
  background: #2b3844;
  padding: 35px;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 250px;
  margin-right: 250px;
}

.card{
  background: #ffffff;
  width: 400px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card h2 {
  padding: 0px 24px;
  text-align: left;
  font-size: 20px;
}

.card p{
  color: black;
  padding: 0px 24px;
  margin-bottom: 30px;
  font-size: 16px;
}

.card-image {
  height: 200px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: top center;
  border-radius: 20px 20px 0px 0px;
}

.card a {
  background-color: #2b3844;
  color: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  font-weight: bold;
  border-radius: 32px;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 14px;
}

.card a:hover {
  background-color: rgb(108, 108, 108);
  color: #ffffff;
}

.card:hover {
  transform: scale(1.05);
  transition: all is ease;
}

.image-1{
  background-image: url("./featured_products/crypto.com.jpg")
}

.image-2{
  background-image: url("./featured_products/bupa_optical.jpg")
}

.image-3{
  background-image: url("./featured_products/bupa_dental.jpg")
}

.image-4{
  background-image: url("./featured_products/voxel_ville_2.jpg")
}

.image-5{
  background-image: url("./featured_products/ap_warehouse.png")
}

.image-6{
  background-image: url("./featured_products/alive_digital.png")
}

.image-7{
  background-image: url("./featured_products/crunch_wheels.jpg")
}

.linkedin-recommendation{
  background: #384755;
  padding: 35px;
}

.linkedin-icon{
  margin-right: 10px;
  size: 20px;
}

.view-all {
  padding-top: 50px;
  text-align: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 35px;
}

.footer-wrapper {
  text-align: center;
}

.social-media {
  color: #eceff1;
  margin: 0px 10px;
}

.footer-text{
  color: #eceff1;
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
}

.language-icon{
  margin-right: 5px;
}
