.testimonial .slick-arrow.slick-prev,
.testimonial .slick-arrow.slick-next {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 5px;
}

.slick-prev::before,
.slick-next::before {
    display: none;
}

.slick-arrow.slick-next {
    right: -70px;
}

.slick-arrow.slick-prev {
    left: -70px;
}

.testimonial .slick-dots li button:before{
    font-size: 15px;
    color: white;
}

.testimonial .slick-dots li{
    top: 15px;
}

.testimonial-card {
    width: 60%;
}


@media only screen and (max-width: 700px){
    .testimonial-card p{
        font-size: 16px;
    }

    .testimonial-card {
        width: 85%;
    }

    .slick-arrow.slick-next {
        right: -40px;
    }
    
    .slick-arrow.slick-prev {
        left: -40px;
    }
}